@model OrderViewModel

<div id="Cart">
    <div id="BackBtn">
        <a href="/">
            <img src="~/img/back-button.png">
        </a>
    </div>

    <div id="Order">
        @if (Model.PizzaTypes == null || Model.PizzaTypes.Count == 0)
        {
            <div class="empty">
                <span>Your cart is empty.</span>
            </div>
        }
        else
        {
            <table class="product-table">
                <thead>
                    <tr>
                        <td></td>
                        <td>Name</td>
                        <td>Price</td>
                        <td>Count</td>
                        <td>Total price</td>
                    </tr>
                </thead>
                @foreach (var product in Model.PizzaTypes)
                {
                    <tr class="product-item">
                        <td>
                            @if (product.PhotoUrl == null)
                            {
                                <img src="~/img/no-image.png">
                            }
                            else
                            {
                                <img src="@product.PhotoUrl">
                            }
                        </td>
                        <td>
                            <span class="name">@product.Name</span>
                        </td>
                        <td>
                            <span class="price">@product.Price $</span>
                        </td>
                        <td>
                            <span class="product-count">@product.Count</span>
                        </td>
                        <td>
                            <span class="total-price">@(product.Price * product.Count) $</span>
                        </td>
                    </tr>
                }
                <tr class="result-row">
                    <td></td>
                    <td>
                        <span>
                            Total:
                        </span>
                    </td>
                    <td></td>
                    <td>
                        <span>
                            Total:
                        </span>
                    </td>
                    <td>
                        <span id="TotalPrice"></span>
                        <span>$</span>
                    </td>
                </tr>
            </table>

            <div class="separator"></div>
            <div class="doppings-block">
                @foreach (var dopping in Model.Doppings)
                {
                    <div class="dopping-item">
                        @if (dopping.PhotoUrl == null)
                        {
                            <img src="~/img/no-image.png">
                        }
                        else
                        {
                            <img src="@dopping.PhotoUrl">
                        }
                        <div class="text-content">
                            <span class="name">@dopping.Name</span>
                            <span class="price">@dopping.Price $</span>
                        </div>
                        <div class="add-remove-block">
                            <div class="btns">
                                <span class="remove">-</span>
                                <span class="count" name="@dopping.Name">0</span>
                                <span class="add">+</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="separator"></div>
            <form id="OrderForm">
                <div class="order-info">
                    <label>Email:</label>
                    <input name="Email">
                    <label>Password:</label>
                    <input name="Password">
                    <label>Address</label>
                    <input name="Address">
                </div>
                <button id="CreateOrderBtn">
                    Make order
                </button>
            </form>
        }
    </div>
</div>