@model OrderViewModel

<div id="Cart">
    <div id="BackBtn">
        <a href="/">
            <img src="~/img/back-button.png">
        </a>
    </div>

    <div id="Order">
        @if (Model.PizzaTypes == null || Model.PizzaTypes.Count == 0)
        {
            <div class="empty">
                <span>Your cart is empty.</span>
            </div>
        }
        else
        {
            <ul>
                @foreach (var product in Model.PizzaTypes)
                {
                    <li>
                        <div class="product-item">
                            @if (product.PhotoUrl == null)
                            {
                                <img src="~/img/no-image.png">
                            }
                            else
                            {
                                <img src="@product.PhotoUrl">
                            }
                            <span class="name">@product.Name</span>
                            <span class="price">@product.Price</span>
                            <span class="product-count">@product.Count</span>
                            <span class="total-price">@(product.Price * product.Count)</span>
                        </div>
                    </li>
                }
            </ul>
            <div class="separator"></div>
            <div class="doppings-block">
                @foreach (var dopping in Model.Doppings)
                {
                    <div class="dopping-item">
                        @if (dopping.PhotoUrl == null)
                        {
                            <img src="~/img/no-image.png">
                        }
                        else
                        {
                            <img src="@dopping.PhotoUrl">
                        }
                        <div class="text-content">
                            <span class="name">@dopping.Name</span>
                            <span class="price">@dopping.Price $</span>
                        </div>
                        <div class="add-remove-block">
                            <div class="btns">
                                <span class="remove">-</span>
                                <span class="count" name=" ">0</span>
                                <span class="add">+</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>